<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GetEmployeeInfoPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8001/employeeWebService"
                binding="basicHttpBinding" bindingConfiguration="GetEmployeeInfoPortBinding"
                contract="WebService_Employee.GetEmployeeInfo" name="GetEmployeeInfoPort" />
        </client>
    </system.serviceModel>
</configuration>